/*img {
    max-width: 100%;
    max-height: 100%;
}*/


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 100%;
    max-height: 40%;
}
a{
    margin: 10px;
}
.registerBox{
    background-color: lightgrey;
    width: 50px;
    border: 3px solid grey;
    padding: 50px;
    margin: 10%;

}